<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
                W E B A L I B R E
            {% endblock %}
        </title>
        
        
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/webalibresecciones/css/main.css')}}" type="text/css" media="screen"/>
        {% endblock %}
        <link rel="shortcut icon" type="image/icon" href="{{ asset('bundles/webalibresecciones/images/webalibre.ico') }}" />
        {% block javascripts %}
            <script src="{{ asset('bundles/webalibresecciones/js/jquery-1.7.2.min.js') }}"></script>
            <script src="{{ asset('bundles/webalibresecciones/js/scroll-up.js') }}"></script>
            <script src="{{ asset('bundles/webalibresecciones/js/margin-fix.js') }}"></script>
        {% endblock %}
    </head>
    
    <body>
        
        <div class="out-container">        
                        <div class="header">
                            {% block header %}
                            <a href="{{ path('wls_homepage') }}"> 
                                <h2 class="title">
                                    W E B A L I B R E
                                </h2>
                                <h2 class="subtitle">
                                    web libre para desarrolladores
                                </h2>
                            </a>
                            {% endblock %}
                        </div>
            {% block menu %}
                <div class="nav-container">
                    <nav>
                        <ul class="nav">
                            <li class="{% if actionname == '' %}activo{% endif %}">
                                <a href="{{ path('wls_homepage') }}"> HOME </a>
                            </li>
                            <li class="{% if actionname == 's2' %}activo{% endif %}">
                                <a href="{{ path('wls_symfony2') }}"> SYMFONY 2 </a>
                            </li>
                            <li class="{% if actionname == 'linux' %}activo{% endif %}">
                                <a href="{{ path('wls_linux') }}"> LINUX </a>
                            </li>
                            <li class="{% if actionname == 'jquery' %}activo{% endif %}">
                                <a href="{{ path('wls_jquery') }}"> JQUERY </a>
                            </li>
                            <li class="{% if actionname == 'otros' %}activo{% endif %}">
                                <a href="{{ path('wls_otros') }}"> OTROS </a>
                            </li>
                            <li class="{% if actionname == 'portfolio' %}activo{% endif %}">
                                <a href="{{ path('wls_portfolio') }}"> PORTFOLIO </a>
                            </li>
                            <li class="{% if actionname == 'contacto' %}activo{% endif %}">
                                <a href="{{ path('wls_contacto') }}"> CONTACTO </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            {% endblock %}
            
            <div class="body">
                {% block body %} {% endblock %}                        
            </div>
            
            <div class="footer">
                {% block footer %}
                    <div class="logos">
                        <div class="up">
                            <a href="https://github.com/">
                                <img  class="footer-img" width="145" height="75" 
                                    src="{{ asset('bundles/webalibresecciones/images/base/footer/git.png') }}"
                                    alt="git" />
                            </a>
                            <a href="http://www.gnu.org/home.es.html">
                                <img class="footer-img" width="152" height="75"
                                    src="{{ asset('bundles/webalibresecciones/images/base/footer/gnu.png') }}"
                                    alt="gnulinux" />
                            </a>
                            <a href="http://jquery.com/">
                                <img class="footer-img" width="305" height="75"
                                    src="{{ asset('bundles/webalibresecciones/images/base/footer/jquery.png') }}"
                                    alt="jquery" />
                            </a>
                            <a href="http://www.mysql.com/">
                                <img class="footer-img" width="103" height="75" 
                                    src="{{ asset('bundles/webalibresecciones/images/base/footer/mysql.png') }}"
                                    alt="mysql" />
                            </a>
                        </div>
                        <div class="down">
                            <a href="#">
                                <img class="footer-img" width="142" height="75" 
                                    src="{{ asset('bundles/webalibresecciones/images/base/footer/php.png') }}"
                                    alt="php" />
                            </a>
                            <a href="http://symfony.com/">
                                <img class="footer-img" width="218" height="75"
                                    src="{{ asset('bundles/webalibresecciones/images/base/footer/symfony.png') }}"
                                    alt="symfony2" />
                            </a>
                            <a href="http://fedoraproject.org/es/">
                                <img class="footer-img" width="247" height="75"
                                    src="{{ asset('bundles/webalibresecciones/images/base/footer/fedora.png') }}"
                                    alt="fedora" />
                            </a>
                        </div>
                    </div>
                    <div class="nav-footer">
                        <nav>
                            <ul class="nav">
                                <li class="{% if actionname == '' %}activo{% endif %}">
                                    <a href="{{ path('wls_homepage') }}"> HOME </a>
                                </li>
                                
                                <li class="{% if actionname == 's2' %}activo{% endif %}">
                                    <a href="{{ path('wls_symfony2') }}"> SYMFONY 2 </a>
                                </li>
                                
                                <li class="{% if actionname == 'linux' %}activo{% endif %}">
                                    <a href="{{ path('wls_linux') }}"> LINUX </a>
                                </li>
                                
                                <li class="{% if actionname == 'jquery' %}activo{% endif %}">
                                    <a href="{{ path('wls_jquery') }}"> JQUERY </a>
                                </li>
                                
                                <li class="{% if actionname == 'otros' %}activo{% endif %}">
                                    <a href="{{ path('wls_otros') }}"> OTROS </a>
                                </li>
                                
                                <li class="{% if actionname == 'portfolio' %}activo{% endif %}">
                                    <a href="{{ path('wls_portfolio') }}"> PORTFOLIO </a>
                                </li>
                                
                                <li class="{% if actionname == 'contacto' %}activo{% endif %}">
                                    <a href="{{ path('wls_contacto') }}"> CONTACTO </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="box-final">
                        @ 2012 - W E B A L I B R E 
                    </div>
                {% endblock %}
            </div>
            <a href="#" class="scrollup">Scroll</a>
    </body>
</html>