<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
                W E B A L I B R E
            {% endblock %}
        </title>
        
        
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/webalibresecciones/css/main.css')}}" type="text/css" media="screen"/>
        {% endblock %}
        <link rel="shortcut icon" type="image/icon" href="{{ asset('bundles/webalibresecciones/images/webalibre.ico') }}" />
        
    </head>
    
    <body>
        {% block javascripts %}{% endblock %}
        <div class="out-container">        
            <div class="hoverhome">
                <a href="http://webalibre/app_dev.php"> <!-- TODO: reemplazar por equivalente en S2 -->
                    <div class="line-grey"> </div>
                        <div class="header">
                            {% block header %}
                                <h2 class="title">
                                    W E B A L I B R E
                                </h2>
                                <h2 class="subtitle">
                                    web libre para desarrolladores
                                </h2>
                                <div class="personal-data">
                                    <div class="tel">
                                    </div>
                                    <div class="email">
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    <div class="line-grey"> </div>
                </a>
            </div>
            {% block menu %}
                <div class="nav-container">
                    <nav>
                        <ul class="nav">
                            <li> <a href="{{ path('wls_homepage') }}"> HOME </a> </li>
                            <li> <a href="{{ path('wls_symfony2') }}"> SYMFONY 2 </a> </li>
                            <li> <a href="{{ path('wls_linux') }}"> LINUX </a> </li>
                            <li> <a href="{{ path('wls_jquery') }}"> JQUERY </a> </li>
                            <li> <a href="{{ path('wls_otros') }}"> OTROS </a> </li>
                            <li> <a href="{{ path('wls_portfolio') }}"> PORTFOLIO </a> </li>
                            <li> <a href="{{ path('wls_contacto') }}"> CONTACTO </a> </li>
                        </ul>
                    </nav>
                </div>
            {% endblock %}
            
            <div class="body">
                {% block body %} {% endblock %}                        
            </div>
            
            <div class="footer">
                {% block footer %}
                    <div class="logos">
                        <div class="up">
                            <img src="{{ asset('bundles/webalibresecciones/images/base/footer/git.png') }}" alt="git" />
                            <img src="{{ asset('bundles/webalibresecciones/images/base/footer/gnu.png') }}" alt="git" />
                            <img src="{{ asset('bundles/webalibresecciones/images/base/footer/jquery.png') }}" alt="git" />
                            <img src="{{ asset('bundles/webalibresecciones/images/base/footer/mysql.png') }}" alt="git" />
                        </div>
                        <div class="down">
                            <img src="{{ asset('bundles/webalibresecciones/images/base/footer/php.png') }}" alt="git" />
                            <img src="{{ asset('bundles/webalibresecciones/images/base/footer/symfony.png') }}" alt="git" />
                            <img src="{{ asset('bundles/webalibresecciones/images/base/footer/fedora.png') }}" alt="git" />
                        </div>
                    </div>
                    <div class="nav-footer">
                        <nav>
                            <ul class="nav">
                                <li> <a href="{{ path('wls_homepage') }}"> HOME </a> </li>
                                <li> <a href="{{ path('wls_symfony2') }}"> SYMFONY 2 </a> </li>
                                <li> <a href="{{ path('wls_linux') }}"> LINUX </a> </li>
                                <li> <a href="{{ path('wls_jquery') }}"> JQUERY </a> </li>
                                <li> <a href="{{ path('wls_otros') }}"> OTROS </a> </li>
                                <li> <a href="{{ path('wls_portfolio') }}"> PORTFOLIO </a> </li>
                                <li> <a href="{{ path('wls_contacto') }}"> CONTACTO </a> </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="box-final">
                        @ 2012 - W E B A L I B R E 
                    </div>
                {% endblock %}
            </div>
    </body>
</html>